@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}


#map {
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 
} 

/* Pop up */
.ol-popup h1 {
  font-size: 1em;
  background-size: 2em;
  padding-left: 3em;
}

/*Overlay Menu*/
.ol-overlay.menu {
  width: 30%;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 5px #000;
  padding: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* style the close box */
.ol-overlay.menu .ol-closebox {
  left: 1em;
  top: 0.5em;
}
.ol-overlay.menu .ol-closebox:before {
  content:"\f0c9";
  font-family:FontAwesome;
}
#menu {
  padding-top: 1.5em;
  font-size: 0.9em;
}
/* menu button */
.ol-control.menu {
  top: 0.5em;
  left: 0.5em;
}

.ol-touch .ol-control button {
    font-size: 1em !important;
}
.res_table{

bottom:4em;
right:0.5em;
}
.res_table  button {
    height: 2.3em!important;
    width: 2.3em!important;
	  border-radius: 4px!important;
		background-color:#2F4F4F !important;
} 

#intro{
position:absolute;
bottom:4em;
right:3.5em;
}
/* Table styling */
#tableau_resultats {
   width:960px;
    display: block;
    /*overflow-x: auto;*/
    white-space: nowrap;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.beta th, td {
  padding: 6px;
  text-align: center;
  /*white-space:nowrap;*/
}
.beta th {
  background-color: #5c6bc0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
.beta td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
.beta tr:hover {
  background-color: #f1f1f1;
}
.beta tr:nth-child(even) td {
  background-color: #f3f3f3;
}

.navbar-toggler-icon {
  
    width: 1.3em;
    height: 1.4em;

}
.unstyled-table th,td{
  padding:1px;
   font-size:0.8em;
}
.ol-control button:hover, .ol-control button:focus {
    text-decoration: none;
    outline: 1px solid var(--ol-subtle-foreground-color);
     color: white; 
    background-color: rgba(0,60,136,0.7);
}
.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,0.5);
    border: none;
    border-radius: 2px;
}
.ol-zoom {
  left: auto;
  right: 0.5em;
}

/**/
.ol-overlay img {
  max-width: 90%;
}
img{
	width: 1000px;
	height: 340px;
	aspect-ratio: auto 1000 / 340;
}
.data,
.data p {
  margin:0;
  text-align: center;
  font-size:0.9em;
}
.ol-control.ol-layerswitcher-popup {
  position: absolute;
  right: 0.5em;
  text-align: left;
  top: 4em !important;
}

  /*legende*/
/*  .ol-control.ol-legend {
    bottom: .5em;
    right: .5em!important;
    z-index: 1;
    max-height: 90%;
    max-width: 90%;
   overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255,255,255,.6);
  } 
.ol-legend .ol-unselectable .ol-control{
    bottom: .5em;
    right: .5em!important;
    z-index: 1;
    max-height: 90%;
    max-width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255,255,255,.6);
  }  */  


  
/* Print*/
/*  .ol-control.ol-print {
  top: .5em;
  right: 3em !important;
}  */
